################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scaffolding.Repositories/obj/Debug/net8.0/Scaffolding.Repositories.AssemblyInfo.cs
/Scaffolding.Repositories/obj/Debug/net8.0/Scaffolding.Repositories.AssemblyInfoInputs.cache
/Scaffolding.Repositories/obj/Debug/net8.0/Scaffolding.Repositories.assets.cache
/Scaffolding.Repositories/obj/Debug/net8.0/Scaffolding.Repositories.csproj.AssemblyReference.cache
/Scaffolding.Repositories/obj/Debug/net8.0/Scaffolding.Repositories.GeneratedMSBuildEditorConfig.editorconfig
/Scaffolding.Repositories/obj/project.assets.json
/Scaffolding.Repositories/obj/project.nuget.cache
/Scaffolding.Repositories/obj/Scaffolding.Repositories.csproj.nuget.dgspec.json
/.vs/Scaffolding-Clean-Architecture/v17/.wsuo
/.vs/ScaffoldingCleanArchitecture/FileContentIndex/83a9087e-7ba9-4ac0-8901-bee18643acfd.vsidx
/.vs/VSWorkspaceState.json
/Scaffolding.API/obj/Debug/net8.0/Scaffolding.API.AssemblyInfo.cs
/Scaffolding.API/obj/Debug/net8.0/Scaffolding.API.AssemblyInfoInputs.cache
/Scaffolding.API/obj/Debug/net8.0/Scaffolding.API.assets.cache
/Scaffolding.API/obj/Debug/net8.0/Scaffolding.API.csproj.AssemblyReference.cache
/Scaffolding.API/obj/Debug/net8.0/Scaffolding.API.GeneratedMSBuildEditorConfig.editorconfig
/Scaffolding.API/obj/project.assets.json
/Scaffolding.API/obj/project.nuget.cache
/Scaffolding.API/obj/Scaffolding.API.csproj.nuget.dgspec.json
/Scaffolding.Business/obj/Debug/net8.0/Scaffolding.Business.AssemblyInfo.cs
/Scaffolding.Business/obj/Debug/net8.0/Scaffolding.Business.AssemblyInfoInputs.cache
/Scaffolding.Business/obj/Debug/net8.0/Scaffolding.Business.assets.cache
/Scaffolding.Business/obj/Debug/net8.0/Scaffolding.Business.csproj.AssemblyReference.cache
/Scaffolding.Business/obj/Debug/net8.0/Scaffolding.Business.GeneratedMSBuildEditorConfig.editorconfig
/Scaffolding.Business/obj/project.assets.json
/Scaffolding.Business/obj/project.nuget.cache
/Scaffolding.Business/obj/Scaffolding.Business.csproj.nuget.dgspec.json
/Scaffolding.Core/obj/Debug/net8.0/Scaffolding.Core.AssemblyInfo.cs
/Scaffolding.Core/obj/Debug/net8.0/Scaffolding.Core.AssemblyInfoInputs.cache
/Scaffolding.Core/obj/Debug/net8.0/Scaffolding.Core.assets.cache
/Scaffolding.Core/obj/Debug/net8.0/Scaffolding.Core.GeneratedMSBuildEditorConfig.editorconfig
/Scaffolding.Core/obj/project.assets.json
/Scaffolding.Core/obj/project.nuget.cache
/Scaffolding.Core/obj/Scaffolding.Core.csproj.nuget.dgspec.json
/Scaffolding.DependencyResolver/obj/Debug/net8.0/Scaffolding.DependencyResolver.AssemblyInfo.cs
/Scaffolding.DependencyResolver/obj/Debug/net8.0/Scaffolding.DependencyResolver.AssemblyInfoInputs.cache
/Scaffolding.DependencyResolver/obj/Debug/net8.0/Scaffolding.DependencyResolver.assets.cache
/Scaffolding.DependencyResolver/obj/Debug/net8.0/Scaffolding.DependencyResolver.csproj.AssemblyReference.cache
/Scaffolding.DependencyResolver/obj/Debug/net8.0/Scaffolding.DependencyResolver.GeneratedMSBuildEditorConfig.editorconfig
/Scaffolding.DependencyResolver/obj/project.assets.json
/Scaffolding.DependencyResolver/obj/project.nuget.cache
/Scaffolding.DependencyResolver/obj/Scaffolding.DependencyResolver.csproj.nuget.dgspec.json
